{% extends "layouts/main.html" %} {% from "govuk/components/input/macro.njk"
import govukInput %} {% from "govuk/components/button/macro.njk" import
govukButton %} {% from "govuk/components/error-summary/macro.njk" import
govukErrorSummary %} {% block pageTitle %} {% if error %}Error: {% endif %}Sign
in - {{ serviceName }} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %} {{ govukErrorSummary({ titleText: "There is a problem",
    errorList: [ { text: error, href: "#email" } ] }) }} {% endif %}

    <h1 class="govuk-heading-xl">Sign in</h1>

    <form action="/login" method="POST" novalidate>
      {{ govukInput({ label: { text: "Email address", classes: "govuk-label--m"
      }, id: "email", name: "email", type: "email", autocomplete: "email",
      spellcheck: false, errorMessage: error and { text: error } }) }} {{
      govukInput({ label: { text: "Password", classes: "govuk-label--m" }, id:
      "password", name: "password", type: "password", autocomplete:
      "current-password", errorMessage: error and { text: error } }) }} {{
      govukButton({ text: "Sign in", type: "submit" }) }}
    </form>

    <p class="govuk-body">
      <a href="/register" class="govuk-link">Create an account</a> if you
      haven't already.
    </p>
  </div>
</div>
{% endblock %}
